*{
    margin: 0.5rem;
    padding: 4px;
}

body{
    background-color: #eee7da;
}

a{
 color:rgb(78, 29, 0);
 font-family: 'Raleway', sans-serif;
 text-decoration: none;
}
a:hover{
color:rgb(130, 145, 231);
}
a.active{
color:rgb(130, 145, 231);
}

#btn-enviar{
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

li{
    list-style:none;
    color:rgba(2, 1, 1, 0.692);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}